#container {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color:rgb(247, 213, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-weight: bold;
}

span {
    color: rgb(193, 10, 10);
    font-weight: bold;
}

.the_form {
    background-color: rgba(60, 213, 205, 0.47);
    height: 50%;
    max-width: 20%;
    padding: .5em 2em;
}

/* botones */

button {
    border-radius: 0.4em;
    border: .2em dotted purple;
    background-color: lemonchiffon;
    cursor: pointer;
}

button:hover {
    background-color: lightskyblue;
}

button:active {
    color: red;
}